.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 10px 20px 20px;

  &__description {
    font-weight: 300;
    line-height: 26px;
    overflow-y: scroll;
    max-height: 500px;
  }

  &__level {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: 30px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      height: 30px;
      background: #836a45;
      color: white;
      font-size: 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 10px 0 10px 10px;

      img {
        height: 30px;
      }

      .img--rotate {
        transform: rotate(180deg);
      }
    }

    &__container {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
      height: auto;
      background: #836a45;
      border-radius: 0 0 8px 8px;
      top: 27px;
      padding: 10px;

      .button__level {
        width: 120px;
        height: 30px;
        background: #836a45;
        color: white;
        font-size: 14px;
        text-align: center;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        padding: 6px;
      }

      hr {
        width: 100%;
        height: 1px;
        background-color: #b2b2b2;
        border: none;

        &:last-child {
          display: none;
        }
      }
    }

    &__number {
      font-size: 20px;
    }
  }
}
