$black: #000;
$white: #fff;

.character--mini {
  position: relative;

  .character__main {
    height: 160px;
    cursor: pointer;
  }

  .character__support {
    position: absolute;
    bottom: -17px;
    width: 195px;
    z-index: -1;
    right: -20px;
  }
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 60px;
  left: -284px;
  margin: 20px;
  text-align: center;
  line-height: 1.3em;
  background-color: #fff;
  color: $black;
  padding-top: 12px;
  box-shadow: 0 -4px #fff, 0 -8px $black, 4px 0 #fff, 4px -4px $black,
    8px 0 $black, 0 4px #fff, 0 8px $black, -4px 0 #fff, -4px 4px $black,
    -8px 0 $black, -4px -4px $black, 4px 4px $black;
  width: 260px;
  z-index: 3;

  &::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 4px;
    width: 4px;
    right: -8px;
    bottom: 12px;
    background: white;
    box-shadow: 4px -4px $white, 4px 0 $white, 8px 0 $white, 0 -8px $white,
      4px 4px $black, 8px 4px $black, 12px 4px $black, 16px 4px $black,
      12px 0 $black, 8px -4px $black, 4px -8px $black, 0 -4px $white;
  }

  p {
    padding: 0 12px;
    font-size: 13px;
    margin-bottom: 8px;
    width: 100%;
  }

  &.help {
    align-items: center;
  }
}

.button {
  min-width: 27px;
  border-radius: 6px;
  padding: 3px;
  font-size: 11px;
  cursor: pointer;
  animation: size-change 0.6s infinite alternate linear;
  z-index: 3;

  &__side {
    display: flex;
    gap: 5px;
  }

  &.correct {
    background: #6dad45;
  }

  &.error {
    background: #ff3e3e;
  }
}

@keyframes size-change {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .character--mini {
    position: relative;

    .character__main {
      height: 130px;
    }

    .character__support {
      display: none;
    }
  }

  .speech-bubble {
    width: 200px;
    bottom: 48px;
    left: -229px;
    line-height: 18px;
  }

  .button {
    font-size: 10px;
  }
}
