.game-content {
  display: grid;
  grid: auto / 1fr 1fr;
  height: 100%;
  gap: 20px;
  padding-bottom: 10px;
}

.blurry-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(1.5px);
  z-index: 3;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.center {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .game-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
